@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Karantina:wght@300;400;700&display=swap');
@import url(" https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");


@media screen and (max-width: 768px)  {
   
     .main-logo {
        position: absolute;
        top: 3%;
        right: 3%;
        width: 8%;
        height: auto;
        z-index: 100;
    }

}

/* רספונסיביות */
@media screen and (min-width: 1024px) {

    .main-logo {
        position: absolute;
        top: 3%;
        right: 3%;
        width: 4.5%;
        height: auto;
        z-index: 100;
    }
}

